<a href="https://colab.research.google.com/github/saksham657/Summer-Microcredential/blob/main/Basics_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro to Python part II

## Data Structures

## Lists

In [1]:
lst = []
# In this line I'm defining an empty list.
# To define a list, I create a variable name such as 'lst' and then I assigned an empty set of squared brackets!
# by assign I mean to simply use a single equal sign

In [2]:
type(lst)

list

In [3]:
my_list = ["Hello", 100, 23.47]
# this is a first example of what is a list, and the syntax.
# it's not an empty list

In [4]:
print(my_list)

['Hello', 100, 23.47]

In [5]:
type(my_list)

list

In [6]:
second_list = ["one", "two", "three"]

In [7]:
print(my_list, second_list)
# this is a combined output for the fist and the second list.

['Hello', 100, 23.47] ['one', 'two', 'three']

## 1) concatenation

In [8]:
new_list = my_list + second_list
# addition of 2 lists in one

In [9]:
type(new_list)

list

In [10]:
new_list

['Hello', 100, 23.47, 'one', 'two', 'three']

## 2) Indexing in a list

In [11]:
students = ["Robert", "Chris", "Katarina", "Scarlett"]

In [12]:
students

['Robert', 'Chris', 'Katarina', 'Scarlett']

In [13]:
students[0][0]
# this means the first letter of the fist item on the list
# we start to count from 0 in python

'R'

In [14]:
string1 = "this is a string"

In [15]:
string1

'this is a string'

In [16]:
string1[2]
# 2 means the third letter in the string.

'i'

### 3) Editing the list's

In [17]:
# Replace values 
students[0] = "Sam"

In [18]:
students

['Sam', 'Chris', 'Katarina', 'Scarlett']

In [19]:
# Add values in the list
students.append("Paul")
students

['Sam', 'Chris', 'Katarina', 'Scarlett', 'Paul']

In [20]:
# To remove an item from a list. 
students.remove("Scarlett")
students

['Sam', 'Chris', 'Katarina', 'Paul']

In [21]:
list1 = ["one", "two", "three", "four", "five"]

In [22]:
list1.pop(2)
# pop is used to remove an element from the list by just entering the number

'three'

In [23]:
list1

['one', 'two', 'four', 'five']

### 4) Add list into list

In [24]:
color = ["Red", "Green", "Blue", "Violet"]

In [25]:
color

['Red', 'Green', 'Blue', 'Violet']

In [26]:
age = [21, 23, 25, 27]

In [27]:
color.extend(age)
# adding 2 lists

In [28]:
color

['Red', 'Green', 'Blue', 'Violet', 21, 23, 25, 27]

### 5) Python in-build functions with the list's

In [29]:
even = [2, 4, 6, 8]
odd = [1, 3, 5, 7, 9]

In [30]:
numbers = even + odd

In [31]:
numbers

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [32]:
print(sorted(numbers))
# used to sort elemnents in an order.

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
len(numbers)
# it means number of items in a list

9

In [34]:
max(numbers)
# this means highest element in the list

9

In [35]:
min(numbers)
# this means lowest number in the list

1

## Define a Dictonaries

In [38]:
# Dictionaries are used to store data values in key:value pairs.
my_dict = {"key1":"value1", "key2":"value2"}

In [39]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [40]:
my_dict["key1"]

'value1'

In [41]:
fruits = {"Apple":3, "Banana":1.75, "Cherry":2}
# an example of dictonary

In [42]:
fruits

{'Apple': 3, 'Banana': 1.75, 'Cherry': 2}

In [43]:
fruits["Apple"]

3

## 2) Dictonaries with all data type's

In [44]:
new_dict = {"k1":147, "k2": [15, 25, 35], "k3":{"Apple":3}}

In [45]:
new_dict

{'k1': 147, 'k2': [15, 25, 35], 'k3': {'Apple': 3}}

In [46]:
new_dict["k2"]
# there's a list in one of the key values in a dictionary

[15, 25, 35]

In [47]:
new_dict["k2"][1]
# 1 means the second value in the list

25

In [48]:
new_dict["k3"]

{'Apple': 3}

In [49]:
new_dict["k3"]["Apple"]

3

In [67]:
d = {"students": ["a", "b", "c", "d", "f", "5", "whatever we want", "4", "u", "p"]}

In [68]:
d

{'students': ['a', 'b', 'c', 'd', 'f', '5', 'whatever we want', '4', 'u', 'p']}

In [69]:
d["students"][1]
# 1 means the second element of the list "students"

'b'

In [70]:
d["students"][-1]
# -1 prints the last letter of the list

'p'

In [71]:
d["students"][3].upper()
# used to upper case any leeter in the list

'D'

# 3) Add Values

In [56]:
d = {"k1":100, "k2": 200}

In [57]:
d['k1']

100

In [58]:
d['k3'] = 300
# adding something into a dictonary

In [59]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

## 4) Replace Values

In [60]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [61]:
d['k1'] = "New Value"
# changing k1 = 100 to k1 = new value

In [62]:
d

{'k1': 'New Value', 'k2': 200, 'k3': 300}

In [63]:
d.keys()
# it displays the list of all keys in the dictonary like k1, k2, k3

dict_keys(['k1', 'k2', 'k3'])

In [64]:
d.values()
# It displays the list of all the values in the dictonary

dict_values(['New Value', 200, 300])

In [65]:
d.items()
# It displays all the items in a dictonary.

dict_items([('k1', 'New Value'), ('k2', 200), ('k3', 300)])

## Tuples

## Define a Tuple

In [72]:
# paranthesis defines a tuple
prime_numbers = (2,3,5,7,11)

In [73]:
prime_numbers

(2, 3, 5, 7, 11)

In [74]:
type(prime_numbers)

tuple

In [86]:
# square brackets defines a list
perfect_squares = [1,4,9,16,25,36,49,64,81,100,121]
type(perfect_squares)

list

In [76]:
# len means length of the list
len(prime_numbers)

5

In [77]:
len(perfect_squares)

6

In [90]:
my_tuple = ("Hieee", 100, 100, 12.47, 23, 65, 89, 'prime')
my_tuple

('Hieee', 100, 100, 12.47, 23, 65, 89, 'prime')

## Indexing a Tuple

In [79]:
my_tuple[0]

'Hieee'

In [80]:
my_tuple[1]

100

In [83]:
# slicing
my_tuple[0:3]

('Hieee', 100, 12.47)

In [85]:
perfect_squares[0:3]

[1, 4, 9]

In [87]:
perfect_squares[2:5]

[9, 16, 25]

In [91]:
# it shows the locatio of an element in a tuple
my_tuple.count(100)

2

## Sets

In [94]:
# how do you create a set
my_set = set()

In [95]:
my_list = [1, 1, 1, 2, 2, 3, "Apple", "Apple"]

In [96]:
# set helps the elements to not repeat
set(my_list)

{1, 2, 3, 'Apple'}

In [97]:
my_set

set()

In [98]:
my_set.add(23)

In [99]:
my_set

{23}

In [100]:
my_set.add(22)

In [101]:
my_set.add(23)

In [102]:
my_set

{22, 23}

## Strings ... Part II