<a href="https://colab.research.google.com/github/saksham657/Summer-Microcredential/blob/main/Basics_Part_dre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro to python part III

## Conditionals & Loops!!!

## Conditionals
### IF... ELIF...ELSE Statement !!!

In [2]:
## Syntax for using the if statement: 

# 
"""
if(condition):
  do something

"""
#

'\nif(condition):\n  do something\n\n'

In [3]:
# If Statement

if 3 > 2:
  print("Right")

Right

In [5]:
##  If and else statement 

if 4 > 7:
  print("Right")
else:
    print("Wrong")

Wrong

In [6]:
## Use of If & Else statement to see which statement is true

a = 3
b = 5

if a > b:
  print("Yes, It is right!")
else:
  print("Try again!!!")

Try again!!!

In [7]:
## 2 string conditions to determine which is true: 

drink = "Tea"

if drink == "Coffe":
  print("Humanity runs on coffee")
else: 
  print("Where there is tea, There is a hope!!!")

Where there is tea, There is a hope!!!

In [8]:
## elif statement 
# used to add multiple conditional expressions between the if and else conditions. 
drink = "Coke"

if drink == "Coffee":
  print("Humanity runs on coffee!!!")
elif drink == "Water":
  print("Water is the soul of earth!!!")
elif drink == "Coke":
  print("Coke is the new fuel for the programer")
else: 
  print("Where there is a tea, there's a hope !!!")

Coke is the new fuel for the programer

## Loops!!

### For... Loop

In [11]:
## Structure of how do we make a loop

"""
for iterator in array:
  do something
"""
 # Multi- line comment

'\nfor iterator in array:\n  do something\n'

In [9]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [10]:
# FOR SOMETHING IN SOMETHING (Comment)
for num in my_list:
  print(num)

1
2
3
4
5
6
7
8
9
10

In [14]:
# i - iterator
# if the number (i) when you divide by 2 gives me a remainder of 0
# I want to print that number
for i in my_list:
  if i % 2 == 0:
    print(i)

2
4
6
8
10

In [16]:
for num in my_list:
  if num % 2 != 0:
    print(num)

1
3
5
7
9

In [17]:
## Interview question: to add all the numbers in a list
my_list = [1,2,3,4,5, 45, 6, 34]
list_sum = 0

for num in my_list:
  list_sum = list_sum + num
print(list_sum)

100

In [19]:
# How to define a for loop
my_string = "Hello World"

for x in my_string:
  print(x)

H
e
l
l
o

W
o
r
l
d

In [20]:
# Tuple
my_list = [(1,2), (3,4), (5,6), (7,8)]
len(my_list)

4

In [21]:
for tup in my_list:
  print(tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [22]:
for a,b in my_list:
  print(a,b)

1 2
3 4
5 6
7 8

In [23]:
for a,b in my_list:
  print(a)

1
3
5
7

In [24]:
my_list = [(1,2,3), (4,5,6), (7,8,9)]

In [25]:
for a,b,c in my_list:
  print(b,c)

2 3
5 6
8 9

In [26]:
my_dict = {"k1":1, "k2":2, "k3":3}

In [28]:
for i in my_dict:
  print(i)

k1
k2
k3

In [29]:
my_dict.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [30]:
for i in my_dict.items():
  print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [31]:
for a,b in my_dict.items():
  print(b)

1
2
3

In [32]:
# How to define a for loop
# for loop with, 
# list
# String
# Tuple
# Dictonary

## While loops!

In [34]:
# As long as i is less than 5, print the answer
i = 0

while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [35]:
i = 0

while i < 5:
  print(i)
  i = i + 1
else: 
  print("i is not less than 5")

0
1
2
3
4
i is not less than 5

In [36]:
i = 10

while i < 5:
  print(i)
  i = i + 1
else: 
  print("i is not less than 5")

i is not less than 5

## Pass, Break, and Continue

In [45]:
i = [1,2,3,4,5]

for items in i:
  # comment
    pass
print("I will work after !!!")

I will work after !!!

In [41]:
my_string = "Hello world"

for letters in my_string:
  if letters == "r":
    break
  print(letters)

H
e
l
l
o

w
o

In [43]:
my_string = "Hello world"

for letters in my_string:
  if letters == "e":
    continue
    
  print(letters)

H
l
l
o

w
o
r
l
d

In [46]:
i = 0
while i < 5:
  if i == 3:
    break
  print(i)
  i = i + 1

0
1
2

## Most used built- in functions in Python

### 1) Range Function

In [47]:
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [48]:
for num in range(3,10):
  print(num)

3
4
5
6
7
8
9

In [49]:
for num in range(0,11,2):
  print(num)

0
2
4
6
8
10

In [50]:
my_list = [1,2,3,4,5,6,7,8,9,10]
range(10)
list(range(10))
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2) Enumerate
*it gives back us an index count and object itself*

In [52]:
word = "Batman"

for items in word:
  print(items)

B
a
t
m
a
n

In [53]:
for items in enumerate(word):
  print(items)

(0, 'B')
(1, 'a')
(2, 't')
(3, 'm')
(4, 'a')
(5, 'n')

In [54]:
for a,b in enumerate(word):
  print(a,b)

0 B
1 a
2 t
3 m
4 a
5 n

In [55]:
for a,b in enumerate(word):
  print(a)
  print(b)
  print("\n")

0
B


1
a


2
t


3
m


4
a


5
n

In [56]:
## https://www.python-ds.com/python-3-escape-sequences

### 3) zip

In [57]:
list1 = [1,2,3,4,5]
list2 = ["a","b","c","d","e"]
list3 = ["a", "b", "d"]

In [58]:
list4 = zip(list1, list2)

In [59]:
print(list4)

<zip object at 0x7f9fbd45e8c0>

In [61]:
for items in zip(list1, list2):
  print(items)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [62]:
for a,b in zip (list1, list2):
  print(a,b)

1 a
2 b
3 c
4 d
5 e

In [64]:
for items in zip(list1, list2, list3):
  print(items)

(1, 'a', 'a')
(2, 'b', 'b')
(3, 'c', 'd')

In [65]:
for a,b,c in zip(list1, list2, list3):
  print(b)

a
b
c