<a href="https://colab.research.google.com/github/saksham657/Summer-Microcredential/blob/main/Workout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Practice Problems

## 1) Display numbers divisible by 5 from a list

In [ ]:
def special_numbers(n):
  """
  description: This function would give us numbers that are divisible by 5 form a list of numbers  
  Created by: Saksham, Sakib, and Diana
  Input: List of numbers 
  Output: Numbers that are divisible by 5.
  """ 
  num = []
  for i in n:
    if i % 5 == 0:
      num.append(i)
  return(num)

In [ ]:
help (special_numbers)

Help on function special_numbers in module __main__:

special_numbers(n)
    description: This function would give us numbers that are divisible by 5 form a list of numbers
    Created by: Saksham, Sakib, and Diana
    Input: List of numbers
    Output: Numbers that are divisible by 5.

In [ ]:
special_numbers([25,50,17,29,46,55,70,11015])

[25, 50, 55, 70, 11015]

## 2) Check if the first and the last number of a list is the same

In [5]:
def first_last_same(numberList):
  print("Given List:", numberList)

  first_num = numberList[0]
  last_num = numberList[-1]

  if first_num == last_num:
    print("True") 
  else: 
    print("False")

numbers_x = [10,20,30,40,10]
print("Result is", first_last_same(numbers_x))

Given List: [10, 20, 30, 40, 10]
True
Result is None

In [6]:
numbers_y = [75, 65, 35, 75, 30]
print("Result is",first_last_same(numbers_y))

Given List: [75, 65, 35, 75, 30]
False
Result is None

## 3) Display the first and last colors from the a given list

In [7]:
color_list = ["red", "green", "yellow", "blue", "white"]
print(color_list[0], color_list[-1])

red white

## 4) Input an integer (n) and computes the value of n + nn + nnn

In [ ]:
a = int(input("Input an integer : "))
n1 = int("%s" % a)
n2 = int("%s%s" % (a, a))
n3 = int("%s%s%s" % (a,a,a))
print(n1+n2+n3)

Input an integer : 12
122436